[Unit]
Description=miniwaf
After=network.target

[Service]
Type=simple
Environment="NGINX_ERROR_LOG=/var/log/nginx/error.log"
Environment="NGINX_ACCESS_LOG=/var/log/nginx/access.log"
Environment="WHITELIST_FILE=/etc/nginx/whitelist.txt"
Environment="THRESHOLD_HITS=1"
Environment="THRESHOLD_WINDOW=60"
ExecStart=/usr/local/bin/miniwaf
StandardOutput=append:/var/log/miniwaf.log
StandardError=append:/var/log/miniwaf.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
